* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: #020233;
    color: white;
}

.header-container1 {
    display: flex;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    
}
.logo {
    color: aqua;
    
    
}

.links {
    
}

.header-container2 {
    display: flex;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

.picture {
    
    
}

.picture--size {
    
}