* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.header-container {
    background-color: #1F2937;
    color: white;
}

.header-container1 {
    display: flex;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    
    
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

.header-container2 {
    display: flex;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    
}

.picture {
    width: 500px;
    height: 250px;
    background-image: url('/img/MCuedZ.jpg');
    background-size: 100% 100%;
    
}

.content {
    display: inline-block;
    
    
}
.content--title {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #f9faf8;
}

.content--content {
    color: #ced9db;
    padding-bottom: 15px;
}

.button {
    background-color: aqua;
    border: 2px solid white;
    border-radius: 10px;
    border-color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

.content--button {
    background-color: #3882f6;
    color: white;
    border: none;
}

.section1-container {
    
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.section1-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 15px;
    text-align: center;
}

.section1-content{
    
    display: inline-flex;
    text-align: center;
    gap: 30px;
    justify-content: center;

    
}

.block1 {
    max-width: 200px;
    
    
}


.block--picture1 {
    width: 200px;
    height: 200px;
    background-image: url('/img/1_8igvlMBBw3702wKOQo5BwQ.png');
    background-size: 100% 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    
}



.block--picture2{
    width: 200px;
    height: 200px;
    background-image: url('/img/CSS3_logo_and_wordmark.svg.png');
    background-size: 100% 100%;
    margin-top: 30px;
    margin-bottom: 10px;   
}

.block--picture3 {
    width: 200px;
    height: 200px;
    background-image: url('/img/1200px-Javascript-shield.svg.png');
    background-size: 100% 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.block--picture4 {
    width: 200px;
    height: 200px;
    background-image: url('/img/Angular_full_color_logo.svg.png');
    background-size: 100% 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section2-container {
    background-color: #E5E7EB;
    padding: 100px;
    
}

.quote {
    font-style: italic;
    font: #1f2937;
    text-align: center;
    font-size: 36px;
}

.author {
    font-weight: bold;
    text-align:center;
    font-size: 30px;
}